@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  color: #243e63;
}

html {
  scroll-behavior: smooth;
}

body {
  max-width: 100vw;
  overflow-x: hidden;
}

nav {
  padding-top: 32px;
}

header {
  position: relative;
}

section {
  padding: 0 32px;
}

main {
  margin-bottom: 96px;
}

h1 {
  font-size: 48px;
  color: #1a202c;
  line-height: 1.25;
}

a {
  text-decoration: none;
}

p {
  font-size: 18px;
  line-height: 1.5;
}

img {
  width: 100%;
}

button {
  border: none;
  cursor: pointer;
}

.btn {
  background-color: #6415ff;
  padding: 12px 32px;
  border-radius: 500px;
  font-size: 14px;
  color: #fff;
  font-weight: bold;
  transition: all 0.3s ease;
}

.btn:hover {
  background-color: rgba(80, 17, 204);
}

.row {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
}

.row__narrow {
  width: 100%;
  max-width: 1024px;
  margin: 0 auto;
}

.container {
  padding: 96px 0;
}

.purple {
  color: #6415ff;
}

.section__tag {
  font-size: 16px;
  color: #6415ff;
  letter-spacing: 1.6px;
  font-weight: 700;
  text-transform: uppercase;
}

.section__title {
  font-size: 48px;
  font-weight: 900;
  line-height: 1.5;
  color: rgb(36, 62, 99);
  margin: 16px 0;
  letter-spacing: 0.025em;
}

.section__para {
  font-size: 18px;
  font-weight: 500;
  line-height: 1.625;
  color: #7c8ba1;
}


/* NAVBAR */

.nav__row {
  display: flex;
  justify-content: space-between;
}

.nav__logo {
  display: flex;
  align-items: center;
  margin: 8px 0;
  padding-bottom: 4px;
}

.nav__logo--img {
  width: 40px;
  height: 40px;
}

.nav__logo--title {
  font-weight: 900;
  font-size: 24px;
  margin-left: 12px;
  padding-bottom: 2px;
  letter-spacing: 0.6px;
}

.nav__links {
  display: flex;
  align-items: center;
  padding-bottom: 2px;
}

.nav__link {
  margin: 0 24px;
  font-size: 14px;
  font-weight: 600;
  padding-top: 4px;
  letter-spacing: 0.35px;
  border-bottom: 2px solid transparent;
  position: relative;
  transition: all 0.3s;
}

.nav__link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -6px;
  height: 2px;
  width: 100%;
  background-color: #6415ff;
  transition: all 0.3s ease;
  opacity: 0;
}

.nav__link:hover::after {
  opacity: 1;
}

.login {
  margin-left: 48px;
}

.nav__link--primary {
  margin: 0;
  padding: 10px 32px;
  margin-top: 2px;
  border-radius: 9999px;
  background-color: #6415ff;
  color: #ffffff;
  line-height: 1.5;
  border: none;
  width: auto;
  transition: all 0.3s ease;
}

.nav__link--primary:hover {
  background-color: rgba(60, 13, 153);
}

.nav__link--primary::after {
  content: "";
  width: 0;
  height: 0;
}

.btn__menu {
  display: none;
}

.menu {
  display: none;
}


/* HEADER */

header .row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__description {
  width: 40%;
}

.header__description--para {
  margin: 32px 0;
}

.header__email {
  width: 100%;
  max-width: 448px;
  height: 68px;
  position: relative;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.header__email--input {
  width: 100%;
  border-radius: 500px;
  border: 2px solid rgb(229, 231, 235);
  padding: 20px 192px 20px 32px;
  font-size: 16px;
  font-weight: 500;
  color: rgb(36, 62, 99);
  position: absolute;
  top: 0;
  bottom: 0;
  z-index: 1;
  transition: border-color 0.3s;
}

.header__email--input:hover {
  border-color: rgba(160, 174, 192);
}

.header__email--input:focus {
  outline: none;
  border-color: rgba(100, 21, 255);
}

.header__email--btn {
  z-index: 2;
  margin: 8px;
  height: calc(100% - 16px);
  border-radius: 500px;
  width: 160px;
  border: none;
  background-color: #6415ff;
  color: #fff;
  font-weight: 700;
  font-size: 16px;
  transition: all 0.3s ease;
}

.header__email--btn:hover {
  background-color: rgba(60, 13, 153);
}

.header__customers--title {
  margin-top: 80px;
  color: #a0aec0;
  font-size: 12px;
  font-weight: 700;
}

.header__customers {
  margin-top: 16px;
  padding-right: 128px;
  opacity: 0.5;
}

.header__img--wrapper {
  width: 60%;
  display: flex;
  justify-content: flex-end;
}

.header__img {
  width: 100%;
  max-width: 768px;
}


/* FEATURES SECTION */

#features {
  position: relative;
}

#features .row__narrow {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#features .section__title {
  text-align: center;
}

#features .section__para {
  text-align: center;
  max-width: 576px;
}

.features {
  display: flex;
  flex-wrap: wrap;
  margin-top: 40px;
}

.feature {
  width: calc(100% / 3);
}

.feature__row {
  display: flex;
  align-items: flex-start;
  padding: 32px 24px;
}

.feature__img--wrapper {
  display: flex;
  padding: 20px;
  border: 1px solid #e5e7eb;
  border-radius: 500px;
}

.feature__img {
  width: 24px;
  height: 24px;
}

.feature__text {
  margin-top: 8px;
  margin-left: 16px;
}

.feature__para {
  margin-top: 16px;
  font-size: 16px;
  color: rgb(124, 139, 161);
  line-height: 2;
  font-weight: 500;
  max-width: calc(634px / 3);
}


/* QUALITY SECTION */

#quality .row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.quality__description,
.quality__img--wrapper {
  width: 50%;
}

.quality__description {
  max-width: 576px;
  margin-right: 64px;
}

#quality .section__title {
  line-height: 1.25;
}

#quality .btn {
  margin-top: 32px;
}

.quality__img--wrapper {
  border: 1px solid rgb(229, 231, 235);
  border-radius: 4px;
  margin: 0 56px;
  position: relative;
  z-index: 2;
  display: flex;
}

.quality__img {
  z-index: 1;
}

.quality__grid {
  position: absolute;
  transform: translate(50%, 50%) translateZ(50px);
  right: 0;
  bottom: 0;
  width: 80px;
  height: 80px;
  fill: rgb(100, 21, 255);
  color: rgba(100, 21, 255, );
  z-index: 0;
}


/* STEPS SECTION */

#steps .row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.steps__description, .steps__img--wrapper {
  width: 50%;
}

.steps__img--wrapper {
  display: flex;
  position: relative;
}

.steps__img {
  z-index: 2;
}

.steps__grid {
  
}

.steps__description {
  padding: 32px 0;
  padding-left: 64px;
}

.step {
  display: flex;
  align-items: flex-start;
  margin-top: 32px;
}

.step__number {
  color: #cbd5e0;
  font-size: 36px;
  font-weight: 600;
  line-height: 1;
}

.step__description {
  display: flex;
  flex-direction: column;
  margin-left: 24px;
  max-width: 320px;
}

.step__title {
  font-weight: 600;
  font-size: 20px;
  color: #243e63;
  line-height: 1;
}

.step__para {
  font-size: 14px;
  color: #718096;
  margin-top: 12px;
  font-weight: 500;
  line-height: 2;
}


/* VALUES SECTION */

.values__description, .values__img--wrapper {
  width: 50%;
}

#values .row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.values__description {
  padding: 32px 64px 32px 0;
}

#values .section__title {
  margin-bottom: 32px;
  line-height: 1.25;
}

.values__list {
  display: flex;
  max-width: none;
  flex-direction: row;
  margin-right: 0;
  margin-left: 0;
}

.value {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.value:nth-of-type(1) {
    margin-top: 32px;
    margin-right: 32px;
}

.value:nth-of-type(2) {
  margin-top: 32px;
}

.value__title {
  display: flex;
  align-items: center;
}

.value__img--wrapper {
  display: flex;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  width: 35px;
  height: 35px;
}

.value:nth-child(1) .value__img--wrapper {
  background-color: #9ae6b4;
}

.value:nth-child(2) .value__img--wrapper {
  background-color: #feb2b2;
}

.value__img {
  width: 20px;
  height: 20px;
}

.value__name {
  margin-left: 12px;
  font-size: 20px;
  font-weight: bold;
}

.value__para {
  margin-top: 16px;
  line-height: 1.625;
  color: #718096;
}

#values .btn {
  margin-top: 48px;
}


/*PRICING SECTION*/

#pricing .row {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#pricing .section__title {
  text-align: center;
}

#pricing .section__para {
  max-width: 576px;
  text-align: center;
}

.plans {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
}

.plan {
  position: relative;
  margin-top: 4rem;
  display: flex;
  flex-direction: column;
  width: 100%;
  text-align: center;
}

.plan__stripe {

}

.plan__top {
  display: flex;
  flex-direction: column;
  padding: 2rem 0;
  text-transform: uppercase;
  line-height: 1.625; 
}

.plan__name {
  font-size: 20px;
}

.plan__price {
  font-size: 48px;
  margin: 4px 0;
}

.plan__duration {
  font-size: 16px;
  letter-spacing: 0.1em;
}

.plan__name, .plan__price, .plan__duration {
  font-weight: bold;
  line-height: 1.625;
}

.plan:nth-child(odd) .plan__name,
.plan:nth-child(odd) .plan__price,
.plan:nth-child(odd) .plan__target {
  color: #1a202c;
}

.plan:nth-child(odd) .plan__duration {
  color: #a0aec0;
}

.plan__middle {
  display: flex;
  flex-direction: column;
  padding: 2rem;
}

.plan:nth-child(odd) .plan__middle {
  border-top: 2px solid rgb(229, 231, 235);
  border-bottom: 2px solid rgb(229, 231, 235);
}

.plan__target {
  font-size: 20px;
  font-weight: 700;
  line-height: 1.5;
  letter-spacing: 0.025em;
}

.plan__feature {
  margin-top: 20px;
  font-weight: 500;
  color: #718096;
  font-size: 16px;
  line-height: 1.5;
}

.plan__bottom {
  padding: 2rem 4rem;
}

.plan__btn {
  border-radius: 9999px;
  background-color: rgb(100, 21, 255);
  padding: ;
  font-weight: 700;
  color: #f7fafc;
  width: 100%;
  padding-top: 1rem;
  padding-bottom: 1rem;
  font-size: 0.875rem;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  transition: all 0.3s ease;
}




/* TESTIMONIALS SECTION */

.testimonials__img--wrapper, .testimonials__description {
  width: 50%;
}

.testimonials__description {
  display: fle;
  flex-direction: colum;
  padding-left: 64p;
}

#testimonials .section__title {
  margin-botto: 24px;
  line-heigh: 1.25;
}

.testimonial {
  margin-top: 40px;
}

/* MEDIA QUERIES */

@media (max-width: 1280px) {
  h1 {
    font-size: 36px;
  }

  header .row {
    align-items: flex-end;
  }

  .header__description--para {
    font-size: 16px;
  }

  .header__customers {
    padding-right: 64px;
  }

  .header__img {
    max-width: 512px;
  }

  .testimonials__img--wrapper {
    width: 40%;
  }

  .testimonials__description {
    width: calc(100% - 40%);
  }

  .plan__bottom {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}

@media (max-width: 1024px) {
  h1 {
    font-size: 30px;
  }

  .nav__links {
    display: none;
  }

  header .row {
    flex-direction: column;
    align-items: center;
  }

  .header__description,
  .header__img--wrapper {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .header__description,
  .header__img--wrapper {
    width: 100%;
    max-width: 512px;
    margin: 0 auto;
  }

  .header__description--para {
    margin: 20px 0;
  }

  .header__customers {
    padding-right: 0px;
  }

  .header__customers--title,
  .header__img--wrapper {
    margin-top: 48px;
  }

  .section__title {
    font-size: 36px;
  }

  .section__para {
    font-size: 16px;
  }

  #features .section__title,
  #pricing .section__title {
    font-size: 48px;
  }

  .features {
    max-width: 768px;
  }

  .feature {
    width: calc(50%);
  }

  .feature__row {
    padding: 32px 8px;
    margin: 0 16px;
  }

  .feature__title {
    line-height: 1;
  }

  .feature__para {
    max-width: none;
  }

  .quality__description {
    margin-right: 0;
    padding-right: 48px;
  }

  .values__list {
    max-width: 20rem;
    flex-direction: column;
  }

  .plans {
    flex-direction: column;
    align-items: center;
  }

  .testimonials__description {
    padding-left: 48p;
  }
}

@media (max-width: 768px) {
  main {
    margin-bottom: 80px;
  }

  .nav__logo {
    margin: 8px 0;
    padding-bottom: 4px;
  }

  .btn {
    line-height: 1.5;
  }

  .header__customers--title {
    font-size: 14px;
    letter-spacing: 0.05em;
  }

  .section__para {
    font-size: 14px;
  }

  #features .section__title,
  #pricing .section__title {
    font-size: 36px;
  }

  .features {
    justify-content: center;
  }

  .feature {
    width: auto;
    max-width: 384px;
  }

  .feature__row {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .feature__text {
    margin-left: 0;
    margin-top: 16px;
  }

  .feature__title {
    letter-spacing: 0.025em;
    line-height: 1;
  }

  .feature__para {
    margin-top: 4px;
    line-height: 2;
  }

  #quality .row, #values .row {
    flex-direction: column-reverse;
  }

  .quality__description,
  .quality__img--wrapper,
  .steps__description,
  .steps__img--wrapper,
  .values__description,
  .values__img,
  .testimonials__description,
  .testimonials__img {
    width: 100%;
    max-width: 448px;
  }

  .quality__description,
  .steps__description,
  .values__description,
  .testimonials__description {
    padding: 0;
    margin-top: 64px;
    text-align: center;
  }

  #steps .row, #testimonials .row {
    flex-direction: column;
  }

  #steps .section__title {
    margin: 16px 0 0 0;
  }

  .steps__list {
    margin-top: 48px;
  }

  .step {
    flex-direction: column;
    align-items: center;
  }

  .step__description {
    margin-top: 12px;
    margin-left: 0;
  }

  .values__list {
    margin: 0 auto;
  }

  .value {
    align-items: center;
  }

  .value:nth-of-type(1) {
    margin-right: 0;
  }

  #pricing .row {
    margin-top: 40px;
  }

  .testimonials__description {
    padding-lef: 0;
  }
}

@media (max-width: 640px) {
  .header__email {
    flex-direction: column;
    height: auto;
  }

  .header__email--input {
    position: static;
    padding: 16px 0;
    padding-left: 32px;
    line-height: 1.5;
  }

  .header__email--btn {
    width: 100%;
    padding: 16px 0;
    margin: 16px 0;
    margin-bottom: 0;
    line-height: 1.5;
  }

  .plan__bottom {
    padding: 2rem 1rem;
  }
}