@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto, sans-serif;
}

html {
    scroll-behavior: smooth;
}

body {
    max-width: 100vw;
    overflow-x: hidden;
}

.purple {
    color: #6415ff;
}

.nav__logo {
    width: 150px;
    height: auto;
}

/*  NAVBAR  */

.container {
    display: flex;
}

.row {
    display: flex;
    justify-content: space-between;
}