@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  color: #243e63;
}

html {
  scroll-behavior: smooth;
}

body {
  max-width: 100vw;
  overflow-x: hidden;
}

nav {
  padding-top: 32px;
}

header{
  ?osition: relative;
}

section {
  padding: 0 32px;
}

main {
  margin-bottom: 96px;
}

h1 {
  font-size: 48px;
  color: #1a202c;
  line-height: 1.25;
}

a {
  text-decoration: none;
}

p {
  font-size: 18px;
  line-height: 1.5;
}

img {
  width: 100%;
}

button {
  border: none;
  cursor: pointer;
}

.btn__menu {
  display: none;
}

.modal {
  display: none;
}

.row {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
}

.row__narrow {
  width: 100%;
  max-width: 1024px;
  margin: 0 auto;
}

.container {
  padding: 96px 0;
}

.purple {
  color: #6415ff;
}

.section__tag {
  font-size: 16px;
  color: #6415ff;
  letter-spacing: 1.6px;
  font-weight: 700;
  text-transform: uppercase;
}

.section__title {
  font-weight: 900;
  line-height: 1.5;
  color: rgb(36, 62, 99);
  margin: 16px 0;
  letter-spacing: 0.025em;
}

.section__para {
  font-size: 18px;
  font-weight: 500;
  line-height: 1.625;
  color: #7c8ba1;
}

/* NAVBAR */

.nav__row {
  display: flex;
  justify-content: space-between;
}

.nav__logo {
  display: flex;
  align-items: center;
  margin: 8px 0;
  padding-bottom: 4px;
}

.nav__logo--img {
  width: 40px;
  height: 40px;
}

.nav__logo--title {
  font-weight: 900;
  font-size: 24px;
  margin-left: 12px;
  padding-bottom: 2px;
  letter-spacing: 0.6px;
}

.nav__links {
  display: flex;
  align-items: center;
  padding-bottom: 2px;
}

.nav__link {
  margin: 0 24px;
  font-size: 14px;
  font-weight: 600;
  padding-top: 4px;
  letter-spacing: 0.35px;
  border-bottom: 2px solid transparent;
  position: relative;
  transition: all 0.3s;
}

.nav__link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -6px;
  height: 2px;
  width: 100%;
  background-color: #6415ff;
  transition: all 0.3s ease;
  opacity: 0;
}

.nav__link:hover::after {
  opacity: 1;
}

.login {
  margin-left: 48px;
}

.nav__link--primary {
  margin: 0;
  padding: 10px 32px;
  margin-top: 2px;
  border-radius: 9999px;
  background-color: #6415ff;
  color: #ffffff;
  line-height: 1.5;
  border: none;
  width: auto;
  transition: all 0.3s ease;
}

.nav__link--primary:hover {
  background-color: rgba(60, 13, 153);
}

.nav__link--primary::after {
  content: "";
  width: 0;
  height: 0;
}

/* HEADER */

header .row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__description {
  width: 40%;
}

.header__description--para {
  margin: 32px 0;
}

.header__email {
  width: 100%;
  max-width: 448px;
  height: 68px;
  position: relative;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.header__email--input {
  width: 100%;
  border-radius: 500px;
  border: 2px solid rgb(229, 231, 235);
  padding: 20px 192px 20px 32px;
  font-size: 16px;
  font-weight: 500;
  color: rgb(36, 62, 99);
  position: absolute;
  top: 0;
  bottom: 0;
  z-index: 1;
  transition: border-color 0.3s;
}

.header__email--input:hover {
  border-color: rgba(160, 174, 192);
}

.header__email--input:focus {
  outline: none;
  border-color: rgba(100, 21, 255);
}

.header__email--btn {
  z-index: 2;
  margin: 8px;
  height: calc(100% - 16px);
  border-radius: 500px;
  width: 160px;
  border: none;
  background-color: #6415ff;
  color: #fff;
  font-weight: 700;
  font-size: 16px;
  transition: all 0.3s ease;
}

.header__email--btn:hover {
  background-color: rgba(60, 13, 153);
}

.header__customers--title {
  margin-top: 80px;
  color: #a0aec0;
  font-size: 12px;
  font-weight: 700;
}

.header__customers {
  margin-top: 16px;
  padding-right: 128px;
  opacity: 0.5;
}

.header__img--wrapper {
  width: 60%;
  display: flex;
  justify-content: flex-end;
}

.header__img {
  width: 100%;
  max-width: 768px;
}

/* FEATURES SECTION */

#features {
  ?osition: relative;
}

#features .row__narrow {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#features .section__title, #pricing .section__title {
  font-size: 48px;
  text-align: center;
}

#features .section__para {
  text-align: center;
  max-width: 576px;
}

.features {
  display: flex;
  flex-wrap: wrap;
  margin-top: 40px;
}

.feature {
  width: calc(100% / 3);
}

.feature__row {
  display: flex;
  align-items: flex-start;
  padding: 32px 24px;
}

.feature__img--wrapper {
  display: flex;
  padding: 20px;
  border: 1px solid #e5e7eb;
  border-radius: 500px;
}

.feature__img {
  width: 24px;
  height: 24px;
}




/* MEDIA QUERIES */

@media (max-width: 1280px) {
  h1 {
    font-size: 36px;
  }

  header .row {
    align-items: flex-end;
  }

  .header__description--para {
    font-size: 16px;
  }

  .header__customers {
    padding-right: 64px;
  }

  .header__img {
    max-width: 512px;
  }
}

@media (max-width: 1024px) {
  h1 {
    font-size: 30px;
  }

  .nav__links {
    display: none;
  }

  header .row {
    flex-direction: column;
    align-items: center;
  }

  .header__description, .header__img--wrapper {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .header__description, .header__img--wrapper {
    width: 100%;
    max-width: 512px;
    margin: 0 auto;
  }

  .header__description--para {
    margin: 20px 0;
  }

  .header__customers {
    padding-right: 0px;
  }

  .header__customers--title, .header__img--wrapper {
    margin-top: 48px;
  }

  .section__para {
    font-size: 16px;
  }

  .features {
    max-width: 768px;
  }

  .feature {
    width: calc(50%);
  }

  .feature__row {
    padding: 32px 8px;
    margin: 0 16px;
  }
}